on:
    workflow_call:

jobs:
    project:
        runs-on: ubuntu-latest

        steps:
            -   uses: shivammathur/setup-php@v2
            -   uses: actions/setup-node@v6

            -   name: Setup Composer
                run: |
                    composer global config --no-plugins allow-plugins.laravel/pint true
                    composer global config --no-plugins allow-plugins.ergebnis/composer-normalize true

            -   name: Install Composer dependencies
                run: composer global require dragon-code/codestyler

            -   name: Install Node dependencies
                run: npm i -D @biomejs/biome

            -   name: Publish config files
                run: |
                    codestyle pint 8.2
                    codestyle npm

            -   name: PHP code-style
                run: pint --parallel

            -   name: Node code-style
                run: |
                    npx @biomejs/biome lint --write
                    npx @biomejs/biome format --write
